/* Spinner Styles */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0); /* Fully transparent border */
    border-top-color: #09f; /* Blue color for the spinning part */
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Adjustments for spinner placement */
.spinner.is-active {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
